<center>
<p id="notice"><%= notice %></p>

<h1 style="color: #edb009;text-shadow: 2px 2px 2px #CE5937;">Pokémons</h1>
  <table style="width:80%;background-color: orange;border:1px solid white;" class="striped centered">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Tipo</th>
        <th>Categoria</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @pokemons.each do |pokemon| %>
        <tr>
          <td><%= pokemon.nome %></td>
          <td><%= pokemon.tipo %></td>
          <td><%= pokemon.categoria %></td>
          <td><%= link_to 'Show', pokemon %></td>
          <td><%= link_to 'Edit', edit_pokemon_path(pokemon) %></td>
          <td><%= link_to 'Destroy', pokemon, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</center>
<br>
  <center>
<span class="waves-effect waves-light btn" style="background-color: orange;border: 1px solid white;"><%= link_to 'Adicionar Pokémon', new_pokemon_path %></span></center>