<center>
<p id="notice"><%= notice %></p><br>
<p>
  <strong style="color:#ad4005">Nome:</strong>
  <%= @pokemon.nome %>
</p>

<p>
  <strong style="color:#ad4005">Tipo:</strong>
  <%= @pokemon.tipo %>
</p>

<p>
  <strong style="color:#ad4005">Categoria:</strong>
  <%= @pokemon.categoria %>
</p>

<%= link_to 'Editar', edit_pokemon_path(@pokemon) %> |
<%= link_to 'Voltar', pokemons_path %>
</center>