<!DOCTYPE html>
<html>
  <head>
    <title>Pokédex</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <style type="text/css">
    td>a,span>a{
      color: #a34c00;
    }
    a{
      color: #006666;
    }
    form{
      width: 60%;
    }
  </style>

  <body style="background-color: #f0f0f0;">
    <%= yield %>
  </body>
</html>
